 .navigation {
   display: inline-block;
   color: white;
   text-decoration: none;
   font-size: 1.1rem;
   font-weight: bold;
   margin-top: 20px;
   padding: 10px 15px;
   transition: all 0.3s ease-out;
   &:hover {
     background-color: #535353;
   }

    &_active {
       color: orange;
    }
 }